/java/src/main/java/com/signalfx/signalflow/grammar/SignalFlow*
/java/target/
/javascript/lib/grammar/SignalFlow*
/python/signalflow/grammar/SignalFlow*
/python/build/
/python/dist/
/python/*.egg-info
*.pyc
